<div class="row align-items-end">
    <div class="col home-col">
        <p>Blog</p>
        <!-- <button type="button" class="btn btn-outline-secondary">Register</button>
        <button type="button" class="btn btn-outline-secondary">Login</button> -->
    </div>
    <div class="col-10">
        <img src="image.png" class="img-fluid" />
    </div>
</div>