#interface{
    background: url(https://c4.wallpaperflare.com/wallpaper/870/97/226/rock-beach-sea-water-wallpaper-preview.jpg);
    background-repeat: repeat-x;
    color: white;
    text-align: center;
    padding: 20%;
    margin: 0%;
    font-size: 200px;
}