@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body{
    /* background-color: #212428; */
    font-family: 'Raleway', sans-serif;
}
.container{
    margin-top: 10%;
}
.home-col{
    padding: 20% 0% 5% 0%;
    margin-right: -10%;
    font-size:100px;
    color: white;
    background-color: #2A3D33;
}
