<form action="/posts/create" method="POST">
    <div class="mb-3">
        <label for="title">Title</label>
        <input class="form-control" name="title" placeholder="Insert a title" type="text"/>
    </div>

    <div class="mb-3">
        <label for="text">Text</label>
        <input class="form-control" name="text" placeholder="Insert a text" type="text"/>
    </div>

    <button type="submit" class="btn btn-dark">Create</button>
</form>