<form action="/posts/create" method="POST">
    <div class="mb-3">
        <label for="title">Title</label>
        <input name="title" placeholder="Insert a title" type="text"/>
    </div>

    <div class="mb-3">
        <label for="text" class="form-label">Text</label>
        <input name="text" placeholder="Insert a text" type="text"/>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>