<form action="/posts/update/<%=post._id%>?_method=PUT" method="POST">
    <div class="mb-3">
        <label for="title">Title</label>
        <input class="form-control" name="title" placeholder="Insert a title" type="text" value="<%=post.title%>"/>
    </div>

    <div class="mb-3">
        <label for="text">Text</label>
        <input class="form-control" name="text" placeholder="Insert a text" type="text" value="<%=post.text%>"/>
    </div>

    <button type="submit" class="btn btn-dark">Update</button>
</form>